@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: whitesmoke;
}


/* HTML INDEX */

.escudo{
    width: 58px;
    
}

.escudoRacing:hover{
    transform: scale(1.20);
    transition-property: all;
    transition-duration: 6s;
}

section{
    display: flex;
    margin-right: 0px;
}

header{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(18, 29, 51);
    padding: 40px;
}

.nav-link{
    color: black;
}

.container-fl{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.row img{
    width: 500px;
    height: 500px;
}

.lineaCeleste{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lineaCeleste:hover{
    transform: scale(1.20);
    transition-property: all;
    transition-duration: 6s;
}

.row{
    margin-top: 120px;
    margin-bottom: 256px;
}

.tituloIndex{
    font-family: 'Anton', sans-serif;
    margin-top: 75px;
    font-size: 100px;

}

li:hover{
    transform: scale(1.02);
    transition-property: all;
    transition-duration: 5s;
}


footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(18, 29, 51);
    padding: 45px;
}

.itemTextos{
    color: black;
}

.itemSponsors{
    margin-top: 25px;
}

.itemSponsors img{
    width: 90px;
    padding: 5px;
    
}

.itemRedes{
    margin-top: 25px;
}

.itemRedes img{
    width: 70px;
    padding: 5px;
}

@media (max-width: 480px) {

    @keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}

    @-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}}

    .tituloIndex{
        font-size: 44px;
        font-weight: 10px;
        font-family: 'Times New Roman', Times, serif;
    
    }

    .row .lineaCeleste{
        -webkit-animation: 3s rotate linear;
        animation: 3s rotate linear;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    .row img{
        width: 150px;
        height: 150px;
    }
    
    .carousel-inner img{
        width: 250px;
        height: 250px;
    }

    /* .contenedorGlobal{
        width: 73%;
    }

    header{
        width: 73%;
    }

    footer{
        width: 73%;
    }

    .container-fl{
        width: 73%;
    } */
}

/* HTML HISTORIA */

.containerHistoria{
    display: grid;
    grid-template-columns: 950px;
    grid-template-rows: repeat(7, 450px);

    grid-template-areas:
    "tituloHistoria" 
    "lisandro"
    "milito"
    "pizzuti"
    "lautaro"
    "cardenas"
    "mostaza";
    justify-content: center;

}

.sectionTitulo{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
}

.itemTituloHistoria{
    grid-area: tituloHistoria;
    font-size: 53px;
    text-decoration: underline;
}

.introduccionHistoria{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}


.itemLisandro{
    grid-area: lisandro;
    margin-bottom: 46px;
}

.itemMilito{
    grid-area: milito;
    margin-bottom: 46px;
}

.itemPizzuti{
    grid-area: pizzuti;
    margin-bottom: 46px;
}

.itemLautaro{
    grid-area: lautaro;
    margin-bottom: 46px;
}

.itemCardenas{
    grid-area: cardenas;
    margin-bottom: 46px;
}

.itemMostaza{
    grid-area: mostaza;
    margin-bottom: 46px;
}

.nombreJugador{
    text-align: center;
    margin-top: 50px;
}

.textosHistoria{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 47px;
}

.imgHistoria{
    width: 400px;
    height: 400px;
}

.fotosIdolos:hover{
    transform: scale(1.15);
    transition-property: all;
    transition-duration: 4s;
}

@media (max-width: 480px) {
    .contenedorGlobal{
        width: 100%;
    }

    .containerHistoria{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .nombreJugador{
        text-align: center;
        margin-top: 50px;
        font-size: 45px;
    }
    
    .sectionTitulo{
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        margin-bottom: 55px;
    }

    .fotosIdolos{
        display: flex;
        justify-content: center;
    }

    .fotosIdolos:hover{
        transform: scale(1.5);
        transition-property: all;
        transition-duration: 2s;
    }

    .itemLisandro{
        margin-bottom: 46px;
        display: flex;
        flex-direction: column;
    }

    .itemMilito{
        margin-bottom: 46px;
        display: flex;
        flex-direction: column;
    }
    
    .itemPizzuti{
        margin-bottom: 46px;
        display: flex;
        flex-direction: column;
    }
    
    .itemLautaro{
        margin-bottom: 46px;
        display: flex;
        flex-direction: column;
    }
    
    .itemCardenas{
        margin-bottom: 46px;
        display: flex;
        flex-direction: column;
    }
    
    .itemMostaza{
        margin-bottom: 46px;
        display: flex;
        flex-direction: column;
    }
    
    .nombreJugador{
        text-align: center;
        margin-top: 50px;
    }
    
    .textosHistoria{
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 47px;
        font-size: 20px;
    }

    .imgHistoria{
        width: 250px;
        height: 250px;
    }

    .itemSponsors img{
        padding: 14px;
    }
}


/* HTML HACETE SOCIO */

